<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/ty_paging.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/ty_paging.js"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</script>
	<style>
			div {margin:auto;text-align:center;}
			.container{width:80%;}
			.list {text-align:left;}
			#result {text-align:left;}
			.title {color: blue}
			.c-pages {width:80%; text-align:center; }
			.post {width:60%;}
			#goToPage {width:50px;}
			#comeTo {width:100px;}
			li {list-style-type:none;}
			body {background-color: rgb(240,240,240)}
			.navbar-header {
				margin:auto;
				text-align:center;
				float: none;
			}
			#main-nav {
            margin-left: 1px;
        }

            #main-nav.nav-tabs.nav-stacked > li > a {
                padding: 10px 8px;
                font-size: 12px;
                font-weight: 600;
                color: #4A515B;
                background: rgb(200,200,200);
                border: none;
                border-radius: 4px;
            }


                #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
                    color: rgb(200,200,200);
                    background: #3C4049;
                }

            
        .navbar-static-top {
            background-color: #212121;
            margin-bottom: 5px;
        }

        .navbar-brand {
            background: url('') no-repeat 10px 8px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 50px;
            color: rgb(240,240,240);
        }
		.navbar-default {
			background-color: rgb(240,240,240);
			border: none;
		}
	</style>
  </head>
	<body>
		<div class="container">
			<div class="post">
				<div class="input-group">
					<input type="text" class="form-control" id="content" placeholder="请输入标题">
					<span class="input-group-btn">
					<button id="ok" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-lg-2" id="classify">
				<div class="navbar-header">
						<h4>分类结果</h4>
					</div>
				<nav class="navbar navbar-default" role="navigation">
				<br>
				<div class="container-fluid"> 
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul id="main-nav" class="nav nav-tabs nav-stacked">
						<% for (var i=0; i<6; i++) {%>
						<% for (var item in classify_result[i]) {%>
						<li><a href="#"><h4><%=item%><h4></a>
						</li>
						<% } }%>
					</ul>
					</div>
				</div>
				</nav>
				</div>
				<div class="col-lg-10">
					<div id="result">
					<ul id="news-lis">
						<% for (var i=0; i<items.length; i++) {%>
						<li><a href=<%=items[i].url%>><h4 class="title"><%=items[i].title%></h4></a>
						<p class="content"><%=items[i].text%></p>
						<br>
						</li>
						<% } %>
					</ul>
					</div>
					<br>
					<div class="list"></div>
					<div  class="c-pages">
						<div class="cp-item">
							<span>共</span>
							<span id="cp-count">0</span>
							<span>条</span>
							&nbsp;&nbsp;
							<span id="curr-page">1</span>
							<span>/</span>
							<span id="total-page">1</span>
							&nbsp;&nbsp;
							<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-default" id="home">首页</button>
							<button type="button" class="btn btn-default" id="prev">上页</button>
							<button type="button" class="btn btn-default" id="next">下页</button>
							<button type="button" class="btn btn-default" id="last">尾页</button>
							<div class="input-group  input-group-sm" id="comeTo">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" id="goTo">转到</button>
								</span>
								<input type="number"  class="form-control" id="goToPage" />
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
  <script>
  	var dataPerPage = 5;
  	var newsLis = $("#news-lis").children();
	// total news count
	var count = <%=length%>;

	// max count for one page
	var ONE_PAGE_COUNT = <%=limit%>;

	// total pages
	var totalPage = <%=totalPages%>;
	var show = [];
	// init page
	var currPage = 1;

	// function used to set news count
	function setUICount(count) {
		if (count == undefined)
			count = 0;
		$("#cp-count").text(count);
	}

	// function used to set total pages
	function setUIPages(totalPage) {
		totalPage = Math.max(1, totalPage);
		$("#total-page").text(totalPage)
	}

	// update curr page
	function setUICurrPage(currPage) {
		currPage = Math.max(1, currPage);
		$("#curr-page").text(currPage);
	}

	// 传入显示的page参数，显示对应页面的列表，隐藏其他列表
	function scanAllForShow(page) {
		// page at least 1 or max totalPage
		page = Math.max(1, Math.min(totalPage, page));
		for (var i = 0;i < count;i++) {
			if (parseInt(i / ONE_PAGE_COUNT) + 1 == page)
				$(newsLis[i]).attr("style", "");
			else
				$(newsLis[i]).attr("style", "display: none");
		}
	}

	function homePage() {
		currPage = 1;
		scanAllForShow(currPage);
		setUICurrPage(currPage);
	}

	function nexePage() {
		var last = currPage;
		if (last == totalPage)
			return;

		scanAllForShow(++currPage);

		setUICurrPage(currPage);
	}

	function prevPage() {
		var next = currPage;
		if (next <= 1)
			return;

		scanAllForShow(--currPage);

		setUICurrPage(currPage);
	}

	function lastPage() {
		currPage = totalPage;
		scanAllForShow(currPage);
		setUICurrPage(currPage);
	}

	function goToPage() {
		var target = $("#goToPage").val();
		if (target == undefined)
			target = currPage;
		target = Math.max(1, Math.min(totalPage, target));
		currPage = target;
		scanAllForShow(target);
		setUICurrPage(currPage);
		$("#goToPage").val("");
	}

	// 页面加载完成后调用此函数
	function init() {
		newsLis = $("#news-lis").children();
		console.log(newsLis);
		count = <%=length%>;
		totalPage = <%=totalPages%>;
		currPage = 1;
		console.log(count);
		setUICount(count);
		setUIPages(totalPage);
		setUICurrPage(currPage);
		scanAllForShow(currPage);
		// 注册点击函数
		$("#home").click(homePage);
		$("#prev").click(prevPage);
		$("#next").click(nexePage);
		$("#last").click(lastPage);
		$("#goTo").click(goToPage);

	}
	function getList() {
		$.get('/list'+ window.location.search, {}, function (data) {
		var searchURL = window.location.search;
        searchURL = searchURL.substring(1, searchURL.length);
        var targetPageId = searchURL.split("=")[1];
		})
	}
	init();
	getList();
	var obj_lis = document.getElementById("classify").getElementsByTagName("li");
	console.log(obj_lis.length);
	if ("<%=type%>" == "classify")
		obj_lis[<%=num%>].className += 'active';
	if (obj_lis.length > 0) {
		obj_lis[0].onclick = function(){
				console.log(obj_lis[0].innerHTML);
				$.post('/classify', {
					num: 0
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
	if (obj_lis.length > 1) {
		obj_lis[1].onclick = function(){
				console.log(obj_lis[1].innerHTML);
				$.post('/classify', {
					num: 1
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
	if (obj_lis.length > 2) {
		obj_lis[2].onclick = function(){
				console.log(obj_lis[2].innerHTML);
				$.post('/classify', {
					num: 2
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
	if (obj_lis.length > 3) {
		obj_lis[3].onclick = function(){
				console.log(obj_lis[3].innerHTML);
				$.post('/classify', {
					num: 3
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
	if (obj_lis.length > 4) {
		obj_lis[4].onclick = function(){
				console.log(obj_lis[4].innerHTML);
				$.post('/classify', {
					num: 4
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
	if (obj_lis.length > 5) {
		obj_lis[5].onclick = function(){
				console.log(obj_lis[5].innerHTML);
				$.post('/classify', {
					num: 5
				}, function (data) {
					console.log('----classify', data)
					if (data.code == 200) {
						alert('提交成功');
						url = "/list?content="+data.query;
						window.location.href = url;
					}
				 else {
					alert('提交失败');
				}
				})
			}
		}
			

	$('#ok').click(function() {
	if (!$('#content').val()) {
		alert('请填写内容');
		return false;
	}
	$.post('/query', {
		content: $('#content').val()
	}, function (data) {
		console.log('----query', data)
		if (data.code == 200) {
			alert('提交成功');
			url = "/list?content="+data.query;
        	window.location.href = url;
		}
	 else {
		alert('提交失败');
	}
	})
	})
</script>
</html>
